<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updated</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero hic autem
      atque repudiandae voluptatum ratione. Fugit saepe voluptates odio.
      Necessitatibus sit, adipisci consequatur vero eaque tenetur id
      exercitationem deserunt! Ad.
    </p>
  </div>
</div>
